@import url('https://fonts.googleapis.com/css?family=Inter:400,500|Playfair+Display:400,500');

:root {
  --royal-blue-dark: #002366; /* primary color;*/
  --dark-golden: #b37a00; /* complementory color;*/
  --light-grayish-blue-100: #fafafa;
  --silver: #C1C1BFff;
  --hero-blue: #0282b9;

  --dark-orange: #664300; /* complementory color additional;*/

  --royal-blue-dark-100: #002a7a;
  --royal-blue-dark-2: #0B2A70;
  --yale-blue: #1B4A8Bff;
  --white: #FEFEFE;

/* color: #000713; */
/* text color */
color: #000B1F;
}

.heading {
  position: relative;
}
.heading::after {
content: '';
display: block;
position: absolute;
bottom: -24px;
left: 50%;
transform: translateX(-50%);
width: 70px;
height: 1px;
background-color: var(--dark-golden);
}



html {font-size: 100%;     min-width: 250px;
} /*16px*/

body {
  background: white;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.75;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  line-height: 1.3;
}

.heading--1 {
  margin-top: 0;
  font-size: 2.488rem;
  @screen md {
    font-size: 4.209rem;
  }
}

.heading--2 {
  font-size: 2.074rem;
  @screen md {
    font-size: 3.157rem;
  }
}

.heading--3 {
  font-size: 1.728rem;
  @screen md {
    font-size: 2.369rem;
  }
}

.heading--4 {
  font-size: 1.44rem;
  @screen md {
    font-size: 1.777rem;
  }
}

.heading--5 {font-size: 1.333rem;}

small, .text_small {font-size: 0.75rem;}
